<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>story</title>
    <style>

  
    </style>
</head>

<body style= "text-align: center; font-family: helvetica;">
    <h1>Hello, My name is Nan...</h1>
    
    <div id= "container">
       <div id="photo"><img src = "public/Nan.png" width="280" /></div> 
       <div id="content">
           <div id="tect" > </div>
           <div id="tect" style="margin-top: 20px;">Thank you for taking the time to read about my life. I am a refugee, having fled civil unrest in my home country.
               I was lucky enough to escape, but others were not so lucky. Your assistance will help people like me find saftey and security
               in a new home.
           </div>
       </div>
    </div>
    <h4>The realities of being a refugee</h4>
    

    <video src="public/refugees.mp4" controls width="400" ></video>
    <p><a href="5.html" target="_blank" style="color:blue">CLICK HERE TO DONATE!</a></p>
</body>
</html>